header{
    background-image: linear-gradient(black, grey);
 

    .nav-container{
        display: flex;
        justify-content: space-between;

        .logo{
            width: 40px;
            height: 40px;
        }
        .menu{
            display: flex;
            justify-items: end;

            
            .menu-item{
                float:left;
                list-style: none;

            }
            .menu-item a{
                color: white;
                font-weight: bold;
                list-style: none;
                padding: 2px 2px;
                margin: 10px 10px; 
            }                           

        }

    }

}
